
/**************************** 文本颜色 ****************************/ 
$l: #212121;
$m: #424242;
$s: #757575;
/**************************** 黑白灰 ****************************/ 
$black: #000;
$white: #fff;
$lightGray: #f9f9f9;
$gray: #757575;
$darkgray: #585c64;
$wx:#393a3f;
$wx_ios:#1c1c20;
/**************************** red：红 ****************************/ 
$red: #FF7A6F;
$red_hov: #F43838;
$red_act: #FF7A6F;
$red_dis: rgba(255, 122, 111, 0.5);
$bg_red: #FF7A6F;
$bg_red_hov: #FF877D;
$bg_red_act: #F56262;
$bg_red_dis: #FFBCB7;

/**************************** green：绿 ****************************/ 
$lightGreen: #8aeeb1;
$green: #1aad19;
$darkGreen: #00c853;

/**************************** blue：蓝 ****************************/ 
$blue: #29a1f7;
$blue_hov: #45C9FB;
$blue_act: #36AEDB;
$blue_dis: rgba(54,174,219,0.5);
$bg_blue: #40BDEC;
$bg_blue_hov: #45C9FB;
$bg_blue_act: #36AEDB;
$bg_blue_dis: #9fdef5;

$sky: #40bdec;
$lightBlue: #e9f5fe;
$darkBlue: #387ABE;
/**************************** orange：橘 ****************************/ 
$orange: #FF9203;
/**************************** yellow：黄 ****************************/ 
$yellow: #fdd835;

/**************************** repeat ****************************/ 
$aaa: #aaa;
$bbb: #bbb;
$ccc: #ccc;
$ddd: #ddd;
$eee: #eee;
$fff: #fff;
$c000: #000;
$c111: #111;
$c222: #222;
$c333: #333;
$c444: #444;
$c555: #555;
$c666: #666;
$c777: #777;
$c888: #888;
$c999: #999;
/**************************** simple ****************************/ 
$c40: #404040;
$c75: #757575;
$cf5: #f5f5f5;
$c9a: #9a9a9a;